body {
  margin:0;
}

main{
  margin-left: 20px;
  margin-right: 20px;
}
  
h1 {
  text-align: center;

}

.navbar {
  position: fixed;
  top: 0;
}

.navbar ul {
  list-style-type: none;
  background-color: rgb(56, 56, 56);
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover{
  background-color: rgb(132, 132, 132);
}

.navbar li{
  float: left;
}