body {
  margin:0;
  padding-top: 40px;
}

main{
  margin-left: 20px;
  margin-right: 20px;
}
  
h1 {
  text-align: center;

}

.navbar ul {
  list-style-type: none;
  background-color: rgb(56, 56, 56);
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li{
  float: left;
}

.navbar li img {
  height: 30px; /* Adjust height as needed */
  margin-top: 5px; /* Adjust vertical alignment as needed */
}

.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.navbar a:hover{
  color: rgb(132, 132, 132);
}