body {
    background-color: beige;
}
h1 {
    color:purple;
    background-color:black;
    font-size:200%;
}
p {
    color:lime;
    background-color:darkblue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
    position: -webkit-sticky; /*SAFARI*/
    position: sticky;
    top: 0;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}
li a:hover:not(active) {
    background-color: #111;
}
.active {
    background-color: #04AA6D;
}